img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-style: double;
    border-width: 5px;

}

header{
    text-align: center;
    
    

}

#quote{
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

strong{
    font-weight: bold;

}

body{
    background: lightblue;
}

footer{
    margin-top: 50px;
}
